h1 {
  font-family: "Latoregular", sans-serif;
  color: #3a3a3a;
}

body {
  font-family: "Latoregular", sans-serif;
  color: #3a3a3a;
  background-color: #f8f8f8;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

select {
  box-sizing: border-box;
  min-width: 80px;
  padding: 0.5em 1.5em 0.5em 0.5em;
}
@media (max-width: 600px) {
  select {
    background-position: right 0.625rem center;
    background-size: 0.75rem;
  }
}
.calculator {
  /* max-width: 490px; */
  min-width: 370px;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 370px;
  max-width: 470px;
  margin: 0 auto;
  gap: 2rem;
  padding: 4rem 2rem;
  box-shadow: 0 3px 6px rgba(247, 194, 217, 0.3607843137);
  border-radius: 0.25rem;
  background-color: #fff;
}
.select-insurer-calc {
  border: 1px solid silver;
  appearance: none;
  background: #fff
    url(http://localhost:4789/static/media/arrow-down-small-gray.a5a4f46d59835380cb44.svg)
    no-repeat right 1rem center;
  background-size: 0.75rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  box-sizing: border-box;
}
.select-insurer-calc:hover {
  cursor: pointer;
  border: 3px solid #8ed6dc;
}
.select-insurer-calc:focus {
  border: 3px solid #8ed6dc;
}

.label-calc {
  margin-top: 15px;
  font-size: 1.375rem;
  font-weight: 600;
}

#calculate {
  border: none;
  border-radius: 0.625rem;
  background-color: #f2b479;
  border-color: whitesmoke;
  color: whitesmoke;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  margin-top: 25px;
  height: 3.75rem;
  min-width: 3.75rem;
  padding: 1px 6px;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
}

#calculate:hover {
  cursor: pointer;
  background-color: #8ed6dc;
}
@keyframes move {
  from {
    margin-top: -100%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

.description {
  margin: 0 0 0 0;
}

.header {
  font-size: 30px;
}
.container {
  overflow: hidden;
}
.res {
  height: auto;
  font-family: "Latoregular", sans-serif;
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: transparent;
  border-color: #f7c2d9;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-radius: 10px;
  padding: 25px;
  animation: move 1.25s ease-in forwards;
}

#tip {
  cursor: pointer;
}
.date-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 0rem;
}
.date-content-calc {
  display: flex;
  gap: 1rem;
  position: relative;
  min-width: 370px;
}

.day-select-calc {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0%;
}

.month-select-calc {
  flex-grow: 6;
  flex-shrink: 1;
  flex-basis: 0%;
}
.year-select-calc {
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 0%;
}
.large-calc {
  height: 3.75rem;
  min-width: 3.75rem;
}

.input-form-calc {
  color: #212121;
  border-radius: 0.25rem;
  border: 1px solid silver;
  width: 100%;
  padding: 0 1.25rem;
  font-family: "Latoregular", sans-serif;
  font-size: 1.125rem;
}
